In [1]:
from data_extraction import DataExtractor
from database_utils import DatabaseConnector

In [2]:
# Initialize DatabaseConnector
db_connector = DatabaseConnector()

#read database credentials from YAML file and initialize database engine
cred_data = db_connector.read_db_creds()
engine = db_connector.init_db_engine(cred_data)
print(engine)
    
#initialize DataExtractor 
extractor = DataExtractor(engine)

#get the names of all tables in the database
tables = db_connector.list_db_tables(engine)

#loop through each table and extract data into a DataFrame
for table_name in tables:
    df = extractor.read_rds_table(table_name)
    df.to_csv(table_name+'.csv')

Engine(postgresql://aicore_admin:***@data-handling-project-readonly.cq2e8zno855e.eu-west-1.rds.amazonaws.com:5432/postgres)

KeyboardInterrupt:

In [ ]:
import pandas as pd 

df = pd.read_csv('legacy_users.csv')
print(df['country'].value_counts())

country
United Kingdom    9371
Germany           4708
United States     1205
GMRBOMI0O1           1
7ZNO5EBALT           1
3518UD5CE8           1
RQRB7RMTAD           1
PNRMPSYR1J           1
5EFAFD0JLI           1
YOTSVPRBQ7           1
EWE3U0DZIV           1
50KUU3PQUF           1
XN9NGL5C0B           1
S0E37H52ON           1
XGI7FM0VBJ           1
AJ1ENKS3QL           1
I7G4DMDZOZ           1
T4WBZSW0XI           1
Name: count, dtype: int64

In [ ]:
# Cleaning data
from data_cleaning import DataCleaning
from data_upload import DataLoader
import pandas as pd 

data_cleaner = DataCleaning()
df = pd.read_csv('legacy_users.csv')
df = data_cleaner.clean_user_data(df)
df = df.reset_index(drop=True)
df.drop(df.columns[0:2], axis=1, inplace=True)
df.to_csv('dim_users.csv')

# Uploading to postgres database 
db_connector = DatabaseConnector()
cred_data = db_connector.read_local_creds()
local_engine = db_connector.local_db_engine(cred_data)

data_loader = DataLoader(local_engine)
data_loader.upload_to_db(df,'dim_users')

/Users/mac/Documents/AiCore/multinational_retail_data_centralisation/data_cleaning.py:23: SyntaxWarning: invalid escape sequence '\-'
  email_regex = '^([a-zA-Z0-9_\-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$'
/Users/mac/Documents/AiCore/multinational_retail_data_centralisation/data_cleaning.py:85: SyntaxWarning: invalid escape sequence '\+'
  """

In [ ]:
import pandas as pd 

link = "https://data-handling-public.s3.eu-west-1.amazonaws.com/card_details.pdf"
db_connector = DatabaseConnector()
cred_data = db_connector.read_db_creds()
engine = db_connector.init_db_engine(cred_data)
pdf_extractor = DataExtractor(engine)
df = pdf_extractor.retrieve_pdf_data(link)
print(type(df))
print(df)
df.to_csv('card_details.csv',index= False)

Error importing jpype dependencies. Fallback to subprocess.
No module named 'jpype'

<class 'pandas.core.frame.DataFrame'>
            card_number expiry_date                card_provider  \
0        30060773296197       09/26  Diners Club / Carte Blanche
1       349624180933183       10/23             American Express
2      3529023891650490       06/23                 JCB 16 digit
3       213142929492281       09/27                 JCB 15 digit
4          502067329974       10/25                      Maestro
...                 ...         ...                          ...
15304   180036921556789       12/28                 JCB 15 digit
15305   180018030448512       11/24                 JCB 15 digit
15306  3569953313547220       04/24                 JCB 16 digit
15307  4444521712606810       06/27                VISA 16 digit
15308   372031786522735       02/30             American Express

      date_payment_confirmed
0                 2015-11-25
1                 2001-06-18
2                 2000-12-26
3                 2011-02-12
4                 1997-03-13
...                      ...
15304             1997-06-06
15305             2004-06-16
15306             2020-02-05
15307             2008-06-16
15308             2009-02-04

[15309 rows x 4 columns]

In [ ]:
from data_cleaning import DataCleaning
from data_upload import DataLoader


data_cleaner = DataCleaning()
df = pd.read_csv('card_details.csv')
df = data_cleaner.clean_card_data(df)
df.to_csv('dim_card_details.csv')

# Uploading to postgres database 
db_connector = DatabaseConnector()
cred_data = db_connector.read_local_creds()
local_engine = db_connector.local_db_engine(cred_data)

data_loader = DataLoader(local_engine)
data_loader.upload_to_db(df,'dim_card_details')

Task 5: The store data is retrieved through the use of an API.

The API has two GET methods. One will return the number of stores in the business and the other to retrieve a store given a store number.

A dictionary stores the header details it will have a key x-api-key with the value.

In [ ]:
# The store data can be retrieved through the use of an API.
from data_extraction import DataExtractor

header_dict = {'x-api-key' : 'yFBQbwXe9J3sd6zWVAMrK6lcxxr0q1lr2PT6DDMX'}
store_retrieve = 'https://aqj7u5id95.execute-api.eu-west-1.amazonaws.com/prod/store_details/2'
storenum_endp= 'https://aqj7u5id95.execute-api.eu-west-1.amazonaws.com/prod/number_stores'

data_extractor = DataExtractor(engine) # engine being problematic?!?!?!?!?!
data_extractor.list_number_of_stores(storenum_endp,header_dict)
data_extractor.retrieve_stores_data(store_retrieve,header_dict)

<class 'requests.models.Response'>
{'statusCode': 200, 'number_stores': 451}

{'index': 2,
 'address': 'Heckerstraße 4/5\n50491 Säckingen, Landshut',
 'longitude': '48.52961',
 'lat': None,
 'locality': 'Landshut',
 'store_code': 'LA-0772C7B9',
 'staff_numbers': '92',
 'opening_date': '2013-04-12',
 'store_type': 'Super Store',
 'latitude': '12.16179',
 'country_code': 'DE',
 'continent': 'Europe'}

Task 5.3: Outputs the API extracted data to a DataFrame then CSV.

In [ ]:
rows = []
for i in range (0,451):
    store_data = data_extractor.retrieve_stores_data(f'https://aqj7u5id95.execute-api.eu-west-1.amazonaws.com/prod/store_details/{i}',header_dict)
    rows.append(store_data)

df = pd.DataFrame(rows)
df.to_csv('stores_data.csv')

In [ ]:
df['store_type'].value_counts()
store_types = ['Local','Super Store','Mall Kiosk','Outlet','Web Portal']

store_type
Local          255
Super Store     89
Mall Kiosk      51
Outlet          45
NULL             3
Web Portal       1
QP74AHEQT0       1
O0QJIRC943       1
50IB01SFAZ       1
0RSNUU3DF5       1
B4KVQB3P5Y       1
X0FE7E2EOG       1
NN04B3F6UQ       1
Name: count, dtype: int64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 451 entries, 0 to 450
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          451 non-null    int64
 1   address        451 non-null    object
 2   longitude      451 non-null    object
 3   lat            11 non-null     object
 4   locality       451 non-null    object
 5   store_code     451 non-null    object
 6   staff_numbers  451 non-null    object
 7   opening_date   451 non-null    object
 8   store_type     451 non-null    object
 9   latitude       450 non-null    object
 10  country_code   451 non-null    object
 11  continent      451 non-null    object
dtypes: int64(1), object(11)
memory usage: 42.4+ KB

In [ ]:
from data_cleaning import DataCleaning
from database_utils import DatabaseConnector
from data_upload import DataLoader
import pandas as pd


data_cleaner = DataCleaning()
df = pd.read_csv('stores_data.csv')
df = data_cleaner.clean_store_data(df)
df = df.reset_index(drop=True)
df.drop(df.columns[0:2], axis=1, inplace=True)
df.to_csv('dim_store_details.csv')
df.info()
# Uploading to postgres database 
db_connector = DatabaseConnector()
cred_data = db_connector.read_local_creds()
local_engine = db_connector.local_db_engine(cred_data)

data_loader = DataLoader(local_engine)
data_loader.upload_to_db(df,'dim_store_details')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 423 entries, 0 to 422
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   address        423 non-null    object
 1   longitude      423 non-null    float64
 2   locality       423 non-null    object
 3   store_code     423 non-null    object
 4   staff_numbers  423 non-null    float64
 5   opening_date   423 non-null    datetime64[ns]
 6   store_type     423 non-null    object
 7   latitude       423 non-null    float64
 8   country_code   423 non-null    object
 9   continent      423 non-null    object
dtypes: datetime64[ns](1), float64(3), object(6)
memory usage: 33.2+ KB

Importing product details from S3 bucket and cleaning the data.

In [ ]:
from data_cleaning import DataCleaning
from data_extraction import DataExtractor
from database_utils import DatabaseConnector

db_connector = DatabaseConnector()
cred_data = db_connector.read_db_creds()
engine = db_connector.init_db_engine(cred_data)


s3_extractor = DataExtractor(engine)
bucket_name = 'data-handling-public'
object_key = 'products.csv'
df = s3_extractor.extract_from_s3(bucket_name,object_key)
df.to_csv('products.csv')

In [2]:
from data_cleaning import DataCleaning
from database_utils import DatabaseConnector
from data_upload import DataLoader
import pandas as pd

data_cleaner = DataCleaning()
df = pd.read_csv('products.csv')
df = data_cleaner.clean_product_data(df)
df = df.reset_index(drop=True)
df.drop(df.columns[0:2], axis=1, inplace=True)
df.to_csv('dim_products.csv')
df.info()
# Uploading to postgres database 
db_connector = DatabaseConnector()
cred_data = db_connector.read_local_creds()
local_engine = db_connector.local_db_engine(cred_data)

data_loader = DataLoader(local_engine)
data_loader.upload_to_db(df,'dim_products')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1844 entries, 0 to 1843
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   product_name   1844 non-null   object
 1   product_price  1844 non-null   object
 2   weight         1844 non-null   object
 3   category       1844 non-null   object
 4   EAN            1844 non-null   object
 5   date_added     1844 non-null   datetime64[ns]
 6   uuid           1844 non-null   object
 7   removed        1844 non-null   object
 8   product_code   1844 non-null   object
dtypes: datetime64[ns](1), object(8)
memory usage: 129.8+ KB

In [2]:
df['category'].unique()

array(['toys-and-games', 'sports-and-leisure', nan, 'pets', 'homeware',
       'S1YB74MLMJ', 'C3NCA2CL35', 'WVPMHZP59U', 'health-and-beauty',
       'food-and-drink', 'diy'], dtype=object)