In [1]:
from data_extraction import DataExtractor
from database_utils import DatabaseConnector
#from data_upload import DataLoader
# from data_extraction import DataExtractor
#from data_cleaning import DataCleaning

In [2]:
# Initialize DatabaseConnector
db_connector = DatabaseConnector()

#read database credentials from YAML file and initialize database engine
cred_data = db_connector.read_db_creds()
engine = db_connector.init_db_engine(cred_data)
print(engine)
    
#initialize DataExtractor 
extractor = DataExtractor(engine)

#get the names of all tables in the database
tables = db_connector.list_db_tables(engine)

#loop through each table and extract data into a DataFrame
for table_name in tables:
    df = extractor.read_rds_table(table_name)
    df.to_csv(table_name+'.csv')

Engine(postgresql://aicore_admin:***@data-handling-project-readonly.cq2e8zno855e.eu-west-1.rds.amazonaws.com:5432/postgres)

In [4]:
import pandas as pd 

df = pd.read_csv('legacy_users.csv')
print(df['country'].value_counts())

country
United Kingdom    9371
Germany           4708
United States     1205
GMRBOMI0O1           1
7ZNO5EBALT           1
3518UD5CE8           1
RQRB7RMTAD           1
PNRMPSYR1J           1
5EFAFD0JLI           1
YOTSVPRBQ7           1
EWE3U0DZIV           1
50KUU3PQUF           1
XN9NGL5C0B           1
S0E37H52ON           1
XGI7FM0VBJ           1
AJ1ENKS3QL           1
I7G4DMDZOZ           1
T4WBZSW0XI           1
Name: count, dtype: int64

In [51]:
# Cleaning data
from data_cleaning import DataCleaning

data_cleaner = DataCleaning()
df = pd.read_csv('legacy_users.csv')
df = data_cleaner.clean_user_data(df)
df = df.reset_index(drop=True)
df.drop(df.columns[0:2], axis=1, inplace=True)
df.to_csv('clean_legacy_users.csv')

In [52]:
# Uploading to postgres database 
from data_upload import DataLoader
    
df = pd.read_csv('clean_legacy_users.csv')
db_connector = DatabaseConnector()
cred_data = db_connector.read_local_creds()
local_engine = db_connector.local_db_engine(cred_data)

data_loader = DataLoader(local_engine)
data_loader.upload_to_db(df,'clean_legacy_user')

In [56]:
import pandas as pd 

link = "https://data-handling-public.s3.eu-west-1.amazonaws.com/card_details.pdf"
db_connector = DatabaseConnector()
cred_data = db_connector.read_db_creds()
engine = db_connector.init_db_engine(cred_data)
pdf_extractor = DataExtractor(engine)
df = pdf_extractor.retrieve_pdf_data(link)
print(type(df))
print(df)
df[0].to_csv('card_details.csv',index= False)

'pages' argument isn't specified.Will extract only from page 1 by default.

<class 'list'>
[            card_number expiry_date                card_provider  \
0        30060773296197       09/26  Diners Club / Carte Blanche
1       349624180933183       10/23             American Express
2      3529023891650490       06/23                 JCB 16 digit
3       213142929492281       09/27                 JCB 15 digit
4          502067329974       10/25                      Maestro
5      3506661913512980       11/23                 JCB 16 digit
6       377549437870679       07/27             American Express
7      2321541881278150       02/29                   Mastercard
8      6011037917693140       02/24                     Discover
9          502049986008       07/23                      Maestro
10     6501622116456490       10/28                     Discover
11     6502495513721380       11/27                     Discover
12     3551071736826240       11/31                 JCB 16 digit
13      371493449732930       10/29             American Express
14     3536516200696080       01/29                 JCB 16 digit
15     5222519319551540       01/26                   Mastercard
16  4537509987455280000       02/32                VISA 19 digit
17     6011881097126120       10/26                     Discover
18  4204210033998580000       08/28                VISA 19 digit
19     3540126062083770       09/32                 JCB 16 digit
20      180093132939478       05/30                 JCB 15 digit
21     3579161126932720       02/23                 JCB 16 digit
22     4045259395988290       06/28                VISA 16 digit
23  4305628477334070000       07/24                VISA 19 digit
24     6011112632675670       07/31                     Discover
25      370629659061970       10/30             American Express
26     3565388078802970       03/32                 JCB 16 digit
27     4413511328768020       12/30                VISA 16 digit
28     3510326851192930       10/31                 JCB 16 digit
29       30439078921644       12/25  Diners Club / Carte Blanche
30     2296814173210180       06/24                   Mastercard
31     2297205767081190       10/30                   Mastercard
32       30280604114274       04/32  Diners Club / Carte Blanche
33  4024414397695410000       05/28                VISA 19 digit
34     4529390944325970       08/23                VISA 16 digit
35          60485138139       08/27                      Maestro
36        4243023678099       02/23                VISA 13 digit
37  4976058331830470000       08/26                VISA 19 digit
38     4224188732297920       02/24                VISA 16 digit
39     3514396157366920       03/29                 JCB 16 digit
40       30158747323244       06/25  Diners Club / Carte Blanche
41     3590999821623690       07/30                 JCB 16 digit
42          60457486839       07/27                      Maestro
43        4934170565606       08/26                VISA 13 digit
44       36125643138236       06/24  Diners Club / Carte Blanche
45     4499574398661660       01/24                VISA 16 digit
46       30079697561056       07/23  Diners Club / Carte Blanche
47     3569354729407150       06/31                 JCB 16 digit
48      213139697145299       03/24                 JCB 15 digit
49         676119752563       02/25                      Maestro
50  4923545896758580000       01/23                VISA 19 digit
51     4145489239111500       02/30                VISA 16 digit
52     4131871381315060       03/27                VISA 16 digit
53        4850248250585       07/26                VISA 13 digit
54         676231685725       09/25                      Maestro

   date_payment_confirmed
0              2015-11-25
1              2001-06-18
2              2000-12-26
3              2011-02-12
4              1997-03-13
5              2003-08-25
6              2006-12-11
7              1995-08-24
8              1998-10-23
9              2011-04-30
10             2006-03-11
11             2021-10-11
12             1993-07-16
13             2014-11-08
14             2009-11-29
15             2019-02-22
16             2022-09-24
17             1996-12-03
18             2019-09-21
19             2021-04-27
20             2004-12-30
21             2015-11-16
22             2011-01-23
23             2017-03-06
24             1999-02-08
25             2008-09-27
26             2016-10-28
27             1995-08-15
28             2001-06-30
29             1998-05-20
30             2020-07-09
31             2012-03-11
32             2005-04-22
33             1997-10-02
34             2009-04-15
35             2022-11-18
36             2021-07-05
37             2021-09-29
38             1997-10-26
39             2004-11-06
40             1998-02-04
41             2002-01-14
42             2006-12-31
43             2008-10-10
44             1999-03-16
45             2016-08-07
46             2000-08-15
47             1997-04-18
48             2010-03-01
49             1995-07-22
50             2017-08-15
51             2018-08-31
52             2007-07-30
53             1995-12-18
54             1998-01-30  ]

In [62]:
from data_cleaning import DataCleaning

data_cleaner = DataCleaning()
df = pd.read_csv('card_details.csv')
df = data_cleaner.clean_card_data(df)

AttributeError: 'DataCleaning' object has no attribute 'clean_card_data'